*{
  padding: 0;
  margin: 0;
}
body{
  background: #FFFFFF;
}

.noscroll
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
button{
  outline: none;
}

header{
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  height: 100vh;
  @media (max-width: 1250px) {
    height: auto;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    background-image: url("assets/images/start-screen-puppy.png");
    background-repeat: no-repeat;
    background-position: 92% 100%;

    .start-screen-puppy-tablet{
      display: none;
    }

    @media (max-width: 1250px) {
      height: auto;
      background-image: none;
      .start-screen-puppy-tablet{
        display: block;
        padding-top: 115px;
        text-align: right;
        display: block ;
        overflow: hidden;
        text-align: center;
        img{
          display: inline;
          position: relative;
          bottom: -7px;
          left: 45px;
        }

        @media (max-width: 700px) {
          img{
            width: 400px;
          }
        }
        @media (max-width: 520px) {
          padding-top: 105px ;
          img{
            max-width: 260px;
            left: 0;
          }
        }
      }
    }
    .wrapper{
      padding-top: 60px;
      nav{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        .nav-logo{
          max-width: 30%;
          flex: 1;
          text-align: left;
          align-self: center;
          @media (max-width: 768px) {
            display: block;
            align-self: center;
            max-width: 80%;
          }
          h3{

            font-family: GeorgiaRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.06em;
            color: #F1CDB3;
            margin-bottom: 10px;
          }
          p{
            font-family: ArialRegular , sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #FFFFFF;
          }
        }
        .nav-menu{
          @media (max-width: 768px) {
           display: none;
          }
          flex: 1;
          text-align: right;
          align-self: center;
          a.active {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #CDCDCD;
            padding-bottom: 5px;
            border-bottom: 3px solid #F1CDB3;
          }
          a:hover{
            color: #FAFAFA;
          }
          a{
            text-decoration: none;
            font-family: ArialRegular , sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 35px;
            color: #CDCDCD;
            margin-left: 35px;
          }
        }
        .burger-menu{
          display: none;
          flex: 1;
          text-align: right;
          @media (max-width: 768px) {
            display: block;
            align-self: center;
            max-width: 20%;
          }
        }

      }
      .make-friend{
        padding-top: 223px;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 1250px) {
         padding-top: 60px;
        }
        .make-friend-items{
          @media (max-width: 1250px) {
            max-width: 460px;
            margin: 0 auto;
          }
          h1{
            max-width: 310px;
            font-family: GeorgiaRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 44px;
            line-height: 57px;
            color: #FFFFFF;
            @media (max-width: 560px) {
              max-width: none;
              text-align: center;
              font-size: 25px;
              line-height: 32px;
            }
          }
          p{
            max-width: 460px;
            margin-top: 42px;
            margin-bottom: 41px;
            font-family: ArialRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #CDCDCD;
            @media (max-width: 560px) {
              text-align: center;
            }
          }
          .btn-make-friend{
            font-family: GeorgiaRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color: #292929;
            outline: none;
            padding: 15px 45px;
            text-align: center;
            background: #F1CDB3;
            border-radius: 100px;
            border: none;
            &:hover{
              cursor: pointer;
              background: #FDDCC4;
            }
            @media (max-width: 1250px) {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  //Mobile container

  .mob-container{
    display: none;
    background: #292929;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    .mob-wrapper{
      //mobile navigation menu
      padding: 60px 30px;
      .mob-nav{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        .mob-nav-logo{
          max-width: 80%;
          flex: 1;
          text-align: left;
          align-self: center;
          h3{
            font-family: GeorgiaRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.06em;
            color: #F1CDB3;
            margin-bottom: 10px;
          }
          p{
            font-family: ArialRegular , sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #FFFFFF;
          }
        }
        .mob-burger-menu{
          max-width: 20%;
          flex: 1;
          text-align: right;
          align-self: center;
        }
      }
      .mob-nav-menu{
        margin-top: 158px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 243px;
        span{
          text-align: center;
          a.active{
            border-bottom: 3px solid #F1CDB3;
          }
          a{
            text-decoration: none;
            font-family: ArialRegular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 51px;
            color: #CDCDCD;
            text-align: center;
            &:hover{
              border-bottom: 3px solid #F1CDB3;
            }
          }

        }

      }
      //End mobile navigation menu
    }
  }

  //End Mobile container

}

.sc-1{
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  @media (max-width: 450px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .running-dog{
    position: absolute;
    left: -600px;
    bottom: 0;
    animation-name: running-dog;
    animation-duration: 5s ;
    animation-delay: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    @media (max-width: 768px) {
      bottom: -80px;
    }
  }
  @keyframes running-dog {
    from {left: -300px;}
    to {left: 150%;}
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
    @media (max-width: 450px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    .about-shelter-1{
      width: 50%;
      align-self: center;
      text-align: right;
      width: 50%;
      img{
        margin-right: 120px;
      }
      @media (max-width: 768px) {
        padding-top: 80px;
        width: auto;
        img{
          margin-right: 0;
        }
      }
    }
    .about-shelter-2{
      width: 50%;
      align-self: center;
      text-align: left;
      @media (max-width: 768px) {
        width: auto;
      }
      h3{
        max-width: 370px;
        font-family: GeorgiaRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
        color: #545454;
        @media (max-width: 450px) {
          text-align: center;
          font-size: 25px;
          line-height: 32px;
        }
      }
      p{
        max-width: 430px;
        margin-top: 25px;
        font-family: ArialRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #4C4C4C;
      }
    }

  }

}

.sc-2{
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 450px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 52px;
    @media (max-width: 450px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    h3{
      max-width: 400px;
      margin: 0 auto;
      font-family: GeorgiaRegular, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      margin-bottom: 60px;
      @media (max-width: 450px) {
        font-size: 25px;
        line-height: 32px;
      }
    }
    .slider-wrapper{
      position: relative;
      margin-left: 30px;
      margin-right: 30px;
      @media (max-width: 450px) {
        margin:0;
      }
      .prev-our-friend, .next-our-friend{
        position: absolute;
        
        @media (max-width: 450px) {
          display: none !important;
        }
      }

      .prev-our-friend{
        top: 50%;
        left: -26px;
        transform: translate(-50%, -50%);
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background: url("assets/images/slider-prev-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
          background-color: #FDDCC4;
        }
      }
      .next-our-friend{
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background: url("assets/images/slider-next-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
          background-color: #FDDCC4;
        }
      }

      .pets-slider{
        .pet{
          outline: none;
          cursor: pointer;
          .pet-description{
            background: #FAFAFA;
            max-width: 270px;
            border-radius: 9px;
            text-align: center;
            padding-bottom: 30px;
            margin: 0 auto;
            img{
              margin: 0 auto;
            }
            p{
              font-family: GeorgiaRegular, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 23px;
              letter-spacing: 0.06em;
              color: #545454;
              margin-top: 30px;
              margin-bottom: 30px;
            }
            a{
              padding: 15px 45px;
              border: 2px solid #F1CDB3;
              text-decoration: none;
              border-radius: 100px;
              background: #FAFAFA;
              font-family: GeorgiaRegular, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: 0.06em;
              color: #292929;
              outline: none;
              &:hover{
                background: #FDDCC4;
                cursor: pointer;
              }
            }

          }

        }
      }
    }

    .slider-mob-arrows-wrapper{
      display: none;
      @media (max-width: 450px) {
        display: block;
        padding-top: 24px;
      }
      .slider-mob-arrows{
        display: flex;
        max-width: 270px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .prev-our-friend{
          background: url("assets/images/slider-prev-arrow.svg");
        }
        .next-our-friend{
          background: url("assets/images/slider-next-arrow.svg");
        }
        .prev-our-friend, .next-our-friend{
          display: block;
          width: 52px;
          height: 52px;
          border: 2px solid #F1CDB3;
          box-sizing: border-box;
          border-radius: 100px;
          background-repeat: no-repeat;
          background-position: center;
          &:hover{
            background-color: #FDDCC4;
          }
        }
      }
    }
    .btn-rest{
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      font-family: GeorgiaRegular, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.06em;
      color: #292929;
      outline: none;
      padding: 15px 45px;
      text-align: center;
      background: #F1CDB3;
      border-radius: 100px;
      border: none;
      @media (max-width: 450px) {
        margin-top: 42px;
      }
      &:hover{
        cursor: pointer;
        background: #fddcc4;
      }
    }
  }
}

.sc-3{
  background: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 450px) {
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 450px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    h3{
      max-width: 310px;
      margin: 0 auto;
      font-family: GeorgiaRegular, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      @media (max-width: 450px) {
        font-size: 25px;
        line-height: 32px;
      }

    }
    .help-shelter{
      display: flex;
      margin: 0 auto;
      margin-top: 60px;
      max-width: 1026px;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 450px) {
        justify-content: end;
      }
      .help{
        text-align: center;
        width: 20%;
        margin-bottom: 59px;
        &:hover{
          transform: scale(1.1);
          transition: 0.1s;
        }
        @media (max-width: 768px) {
          width: 33.3333%;
        }
        @media (max-width: 450px) {
          width: 50%;
        }
        p{
          padding-top: 30px;
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #545454;
          @media (max-width: 450px) {
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

.sc-4{
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 560px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 980px) {
      flex-direction: column-reverse;
    }
    @media (max-width: 450px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    .donation-1{
      flex: 1;
      max-width: 677px;
      text-align: right;
      @media (max-width: 980px) {
        margin: 0 auto;
        flex: none;
        width: 100%;
      }
      @media (max-width: 560px) {
          text-align: center;
      }
      img{
        margin-right: 30px;
        @media (max-width: 560px) {
          max-width: 260px;
          max-height: 134px;
          margin-right: 0px;
        }
      }
    }
    .donation-2{
      flex: 1;
      max-width: 380px;
      text-align: left;
      @media (max-width: 980px) {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 100%;
        flex: none;
      }
      h3{
        margin-bottom: 20px;
        max-width: 300px;
        font-family: GeorgiaRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
        text-align: left;
        letter-spacing: 0.06em;
        color: #545454;
        @media (max-width: 560px) {
          font-size: 25px;
          line-height: 32px;
          margin: 0 auto;
          text-align: center;
        }
      }
      .bank-info{
        font-family: GeorgiaRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.06em;
        color: #545454;
        @media (max-width: 560px) {
          text-align: center;
          padding-top: 20px;
          font-size: 15px;
          line-height: 24px;
        }
      }
      .credit-card{
        background: #F1CDB3;
        border-radius: 9px;
        padding: 10px 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        @media (max-width: 450px) {
          justify-content: center;
        }
        img{
          vertical-align: middle;
        }
        .card-number{
          margin-left: 15px;
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          letter-spacing: 0.06em;
          color: #545454;
          @media (max-width: 450px) {
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
      .legal-info{
        font-family: ArialItalic, sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
        @media (max-width: 560px) {
          text-align: justify;
        }
      }
    }
  }
}

footer{
  background:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 80px;
  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 980px) {
      flex-wrap: wrap;
    }
    @media (max-width: 670px) {
      flex-direction: column;
      text-align: center;
      max-width: 300px;
    }
    @media (max-width: 450px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    .contacts-1{
      h3{
        max-width: 279px;
        font-family: GeorgiaRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media (max-width: 670px) {
          font-size: 25px;
          line-height: 32px;
          margin: 0 auto;
        }
      }
      .email{
        margin-top: 40px;
        img{
          vertical-align: middle;
        }
        span{
          padding-left: 20px;
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #F1CDB3;
          vertical-align: middle;
        }
      }
      .phone{
        margin-top: 40px;
        img{
          vertical-align: middle;
        }
        a{
          padding-left: 20px;
          text-decoration: none;
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #F1CDB3;
        }
      }
    }

    .contacts-2{
      @media (max-width: 670px) {
        padding-top: 40px;
      }
      h3{
        max-width: 279px;
        font-family: GeorgiaRegular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media (max-width: 670px) {
          font-size: 25px;
          line-height: 32px;
          margin: 0 auto;
        }
      }
      .address-1, .address-2{
        display: flex;
        align-items: center;
        img{
          vertical-align: middle;
        }
        span{
          display: table;
          padding-left: 20px;
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #F1CDB3;
          vertical-align: middle;
        }
      }
      .address-1{
        margin-top: 34px;
      }
      .address-2{
        margin-top: 32px;
      }
    }

    .puppy {
      width: 33.333%;   
      align-self: flex-end;
      @media (max-width: 980px) {
        width: 100%;
        text-align: center;
        padding-top: 69px;
      }
      img{
        position: relative;
        bottom: -4px;
        max-width: 300px;
        max-height: 310px;
        @media (max-width: 670px) {
          max-width: 260px;
        }
      }
    }
  }
}

.no-prev-slide{
  background: url('assets/images/disabled-slider-prev-arrow.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: 2px solid #CDCDCD !important;
  color: #CDCDCD !important;
  box-sizing: border-box !important;
  border-radius: 100px !important;
}
.no-next-slide{
  background: url('assets/images/disabled-slider-next-arrow.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: 2px solid #CDCDCD !important;
  color: #CDCDCD !important;
  box-sizing: border-box !important;
  border-radius: 100px !important;
}


//POPUPS -->

// Pet Popup
.learn-more[data-popup="learn-more-popup-active"]{
  display: block;
}
.learn-more-popup[data-popup="learn-more-popup-disabled"]{
  display: none;
}
.learn-more-popup{
  background: black;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(41, 41, 41, 0.6);
  z-index: 30;
  .pop-container{
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    top: 50%;
    transform: translate( 0% ,  -50%);
    padding-left: 69px;
    padding-right: 69px;
    @media (max-width: 450px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    .close-popup{
      border: 2px solid #F1CDB3;
      box-sizing: border-box;
      border-radius: 100px;
      width: 52px;
      height: 52px;
      position: absolute;
      top: -52px;
      right: 17px;
      background-image: url("assets/images/close-popup.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover{
        background-color: #f7efe9 ;
      }
      @media (max-width: 450px) {
        right: 9px;
      }
    }
    .pop-wrapper{
      background: #FAFAFA;
      display: flex;
      overflow: auto;
      border-radius: 20px;
      @media (max-width: 768px) {
        justify-content: center;
        padding: 10px;
      }

      .pop-pet-img{
        flex: 1;
        max-width: 500px;
        height: 500px;
        background-image: url("assets/images/pop-pets-jennifer.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .pop-pet-description{
        max-width: 280px;
        flex: 1;
        padding: 0 9px 0 11px ;
        align-self: center;
        h3{
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 35px;
          line-height: 45px;
          letter-spacing: 0.06em;
          color: #000000;
        }
        h4{
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #000000;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        p{
          font-family: GeorgiaRegular, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 17px;
          letter-spacing: 0.06em;
          color: #000000;
          margin-bottom: 20px;
        }
        ul{
          list-style: none;
          li{
            &::before {
              content: "\2022";
              color: green;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle;
              width: 1em;
              //margin-left: 1em;
            }
            h5{
              display: inline;
              font-family: GeorgiaRegular, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 15px;
              line-height: 17px;
              letter-spacing: 0.06em;
              color: #000000;
            }
            span{
              font-family: GeorgiaRegular, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              letter-spacing: 0.06em;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
// End Pet Popup


//Fonts
@font-face {
  font-family: GeorgiaRegular;
  src: url("assets/fonts/GeorgiaRegular.ttf");
}
@font-face {
  font-family: ArialRegular;
  src: url("assets/fonts/ArialRegular.ttf");
}

@font-face {
  font-family: ArialItalic;
  src: url("assets/fonts/Arial-Italic.ttf");
}
